
* {
  margin: 0;
  padding: 0;
}


/***** Header ****/
.header {
  display: grid;
  align-items: center;
  height: 20vh;
  background-color: rgb(163, 158, 158);
}

nav {
  display: flex;
  justify-content: space-around;
}
/***** Main *****/
.main {
  display: flex;
}
.center-text {
  position: absolute;
  background-color: white;
  left: 44%;
  top: 25%;
  text-align: center;
  padding: 10px;
}

.dont-miss-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.latest-article {
  display: flex;
  align-items: center;
  height: 80vh;
}

.latest-article-title {
  padding-left: 50px;
  padding-right: 270px;
}

.latest-article-1 {
  background-color:  rgb(131, 124, 124);
}

.latest-article-3 {
  background-color: rgb(112, 106, 106) ;
}

.latest-article-2 {
  background-color: rgb(155, 150, 150)
}

.latest-article-4 {
  background-color:  rgb(138, 131, 131);
}

.articles-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
  background-color: lightgray;
}

.by {
  padding-left: 30px;
}

.author-link {
  padding-left: 5px;
}

.articles-container h2,
.articles-container h3,
.articles-container h4,
.articles-container p {
  padding: 30px;
}

/* .articles-row {
  display: grid;
} */

.promo {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  height:50vh;
  margin-top: 10px;
  margin-left: 30px;
}

.subscribe {
  background-color: rgb(90, 90, 90);
  color: white;
  border-radius: 10px;
}

.subscribe button {
  margin-left: 30px;
}

.smashing-tv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 90, 90);
  color: white;
  border-radius: 10px;
  margin-left: 2.5%;
  width: 95%;
  height: 80vh;
  margin-top: 50px;
}

.more-articles {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.book-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(90, 90, 90);
  color: white;
}

.book-promo > span { 
  padding: 30px;
}

.book-promo-img-placeholder
{
  width: 800px;
  height: 500px;
  background-color:gray;
  margin: 30px;
}

.person-of-the-week {
  display: flex;
  justify-content: space-around;
}

.person-of-the-week p {
  width: 70vw;
}

.person-of-the-week h4 {
  padding: 30px 0 30px;
 
}

.photo-placeholder {
  margin-top: 30px;
  margin-right: -160px;
  margin-left: -60px;
  width: 200px;
  height: 180px;
  background-color: gray;
}

.community-links-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 150px;
}

.title-pic-container {
  display: flex;
  justify-content:baseline;
}



.community-pic-placeholder {
  margin-left: 53px;
  width: 70px;
  height: 70px;
  background-color: gray;
}

.community-links-article {
  display: flex;
  flex-direction: column;
}

.community-links-article p {
  width: 30vw;
  margin-left: 150px;
}

.community-links-article span,
.community-links-article h1 {
  margin-left: 25px;
}


